html{
    scroll-behavior: smooth;
        
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
    
}

header{
    margin: 0;
    background-color: #5F0000;
    height: 50px;
    width: 100%;
    
}

ul{
    margin-right: 1%; 
    margin-top: 0.7%;
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-left: 72%;
    
    
}
li{
    display: inline-block;
    color: white;
    font-size: 17px;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 5px; */
    /* margin-right: 20%;
    margin-top: 0.3%; */
    /* padding-bottom: 5px;
    overflow: hidden; */
  
    
    
}
li:hover{
    background-color: rgba(245,181,114,0.5);
    
}
a{
    text-decoration: none;
    color: white;
    
}

.insta{
    position: absolute;
    /* float: right; */
    margin-top: 11px;
    margin-left: 1860px;

}
.wpp{
    position: absolute;
    float: right;
    margin-top: 10px;
    margin-left: 1820px;
    
}
.ifood{
    position: absolute;
    float: right;
    margin-top: 13px;
    margin-left: 1795px;
}

.banner{
    /* height: 470px; */
    width: 100%;
    height: 50%;
    /* background-color: #EFA338; */
    margin:0;
 }

.bannerimg{
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* position: absolute; */
    display: inline-block;
    width: 100%;
    margin: 0;
    border: solid;
    border-color: #EFA338;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0;
    border-right-width: 0;
    
}

#produtos{
    margin: 0;
    /* margin-top: 5px; */
    background-color: #EFA338;
    height: 40px;
    text-align: center;
    color: #5F0000;
    font-size: 40px;
    padding: 10px;
   
}
.imagesprodutos{
    margin: 0;
    padding: 0;
    
}
 .cerveja{
    display: inline-block;
    transform: rotate(90deg);
    border-radius: 10%;
    margin-top: 0;
    margin-left: 150px;
    margin-bottom: 60px;
    height: 350px;
    overflow: hidden;
    
    
     }
    
.energetico2{
        border-radius: 10%;
        margin-top: 100px;
        margin-left: 200px;
        height: 470px;
}
.energetico{
        border-radius: 10%;
        margin-top: 50px;
        margin-left: 300px;
        height: 470px;
        
    }
.cupnoodles{
        border-radius: 10%;
        margin-top: 60px;
        margin-left: 200px;
        height: 470px;
        
    }
.coca{
    border-radius: 10%;
    margin-top: 50px;
    margin-left: 250px;
    height: 470px;
    
}
.tropical{
    border-radius: 10%;
    margin-top: 50px;
    margin-left: 280px;
    height: 470px;
    
}

#localizacao{
    margin: 0;
    margin-top: 5px;
    background-color: #EFA338;
    height: 40px;
    text-align: center;
    color: #5F0000;
    padding: auto;
    font-size: 40px;
    padding: 10px;
}

.mapa{
    margin-left: 40%;
    margin-top: 120px;
    height: 400px;
    
}
.localmapa{
    height: 690px;
}
.local{
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
}

footer{
        background-color: #EFA338;
        height: 200px;
        text-align: center;
        color: #5F0000;
        font-weight: bold;
        padding-bottom: 0;
        font-size: 15px;
        
    }
    .logo{
        float: left;
        height: 180px;
        margin-left: 50px;
        
    }
    .horario{
        float: left;
        margin-top: 17px;
        margin-left: 200px;
        height: 150px;
        border-radius: 10%;
    }

@media screen and (max-width:800px){
        header{
            height: 125px;
            
        }
        ul{
            /* margin-right: 1%;
            margin-top: 0.7%; */
            /* list-style-type: none;
            text-decoration: none; */
            float: none;
            width: 80%;
            margin-left: 40px;
            padding-left: 0;
            
            
            
        }
        li{
            /* display: block; */
            color: white;
            background-color: #5F0000;
            text-align: center;
            width: 100%;
            font-size: 17px;
            border-radius: 0;
            padding: 5px;
            margin-right: 0;
            /* border-radius: 10%; */
            /* padding-left: 10px;
            padding-right: 10px; */
            

        }
        a{
            text-decoration: none;
            color: white;
            
        }
        
        .insta{
            display: none;
            /* float: left;
            padding: 0;
            margin-top: 0; */
            /* margin-left: 450px; */
            
            
        }
        .wpp{
            display: none;
            /* float: right;
            margin-top: 0;
            margin-right: 10px; */
            
        }
        .ifood{
            display: none;
            /* float: right;
            margin-top: 13px;
            margin-right: 10px; */
        }
        
        .banner{
            /* height: 470px; */
            width: 100%;
            height: 50%;
            /* background-color: #EFA338; */
            margin:0;
            
         }
        
        .bannerimg{
            /* margin-top: 5px; */
            /* margin-bottom: 5px; */
            /* position: absolute; */
            display: inline-block;
            width: 100%;
            margin: 0;
            border: solid;
            border-color: #EFA338;
            border-top-width: 5px;
            border-bottom-width: 5px;
            border-left-width: 0;
            border-right-width: 0;
            
            
        }
        
        #produtos{
            margin: 0;
            /* margin-top: 5px; */
            background-color: #EFA338;
            height: 40px;
            text-align: center;
            color: #5F0000;
            font-size: 40px;
            padding: 10px;
            
           
        }
        .imagesprodutos{
            width: 100%;
            margin: 0;
            padding: 0;
            
            
        }
         .cerveja{
            display: inline-block;
            transform: rotate(90deg);
            border-radius: 10%;
            /* margin-top: 0;
            margin-left: 150px; */
            /* margin-top: 20%;
            margin-bottom: 20%; */
            /* margin: 20%; */
            margin-left: 10.5%;
            margin-top: 20%;
            height: 250px;
            
             }
            
        .energetico2{
                border-radius: 10%;
                /* margin-top: 100px;
                margin-left: 200px; */
                margin-left: 20%;
                margin-top: 0;
                height: 350px;
        }
        .energetico{
                border-radius: 10%;
                /* margin-top: 50px;
                margin-left: 300px; */
                margin-left: 20%;
                margin-top: 5%;
                height: 350px;
                
            }
        .cupnoodles{
                border-radius: 10%;
                /* margin-top: 60px;
                margin-left: 230px; */
                margin-left: 20%;
                margin-top: 5%;
                height: 350px;
                
            }
        .coca{
            border-radius: 10%;
            /* margin-top: 50px;
            margin-left: 230px; */
            margin-left: 20%;
            margin-top: 5%;
            height: 320px;
            
        }
        .tropical{
            border-radius: 10%;
            /* margin-top: 50px;
            margin-left: 270px; */
            margin-left: 20%;
            margin-top: 5%;
            height: 350px;
            
        }
        
        #localizacao{
            margin: 0;
            margin-top: 5px;
            background-color: #EFA338;
            height: 40px;
            text-align: center;
            color: #5F0000;
            padding: auto;
            font-size: 40px;
            padding: 10px;
            
        }
        
        .mapa{
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
            
            
        }
        .localmapa{
            height: 730px;
            
        }
        .local{
            position: unset;
            width: 100%;
            margin-top: 25px;
            margin-left: 0;
            
        }
        
        footer{
                background-color: #EFA338;
                height: 500px;
                text-align: center;
                color: #5F0000;
                font-weight: bold;
                padding-bottom: 0;
                font-size: 15px;
  
            }

        .infos{
            float: left;
            color: #5F0000;
            margin-top: 0;
            padding-top: 0;
            
        }
        .logo{
                display: block;
                float: left;
                height: 100px;
                margin-left: 160px;

            }
        .horario{
                display: block;
                margin-left: 0;
                margin-top: 17px;
                height: 20%;
                border-radius: 0%;
                max-width: 100%;
                padding: 0;
                }
    }
    
